.camera_stream {
  position: absolute;
  text-align: center;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 90px;

  canvas {
    display: none;
  }

  &__delete {
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;

    .btn--circle {
      @include rem(width, 50px);
      @include rem(height, 50px);
      @include rem(margin-left, 10px);

      .icon {
        @include rem(margin, -5px);
      }
    }

    &_text {
      @include rem(margin-left, -60px);
    }
  }

  &__title {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    z-index: 9999999;
    pointer-events: none;
  }

  &__frame {
    width: 80%;
    max-width: 460px;
    height: 0;
    padding-bottom: 56.25%;
    top: 50%;
    left: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    border: solid 4px rgba(#fff, 1);
    border-radius: 8px;
    display: none;

    @include transform(translate(-50%, -50%));

    &.visible {
      display: block;
    }
  }

  &__video {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-radius: 4px;
    overflow: hidden;

    &.visible {
      display: block;
    }
  }

  &__controls,
  &__shoot {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    display: none;

    @include rem(bottom, -70px);

    &.visible {
      display: block;
    }
  }

  &__controls {
    display: none;
    z-index: 2;

    .btn--flat {
      @include rem(margin-right, 10px);
    }
  }

  &__back_btn {
    position: absolute;
    z-index: 10;

    @include rem(right, 0px);
    @include rem(bottom, -70px);
    @include rem(padding-left, 15px);
    @include rem(padding-right, 15px);

    .icon {
      @include rem(font-size, 30px);
      @include rem(margin-top, -5px);
      @include rem(margin-bottom, -5px);
    }
  }

  &__snap {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    border-radius: 4px;

    &.visible {
      display: block;
    }
  }

  &__shoot {
    z-index: 2;

    @include rem(width, 50px);
    @include rem(height, 50px);

    .icon {
      @include rem(margin, -5px);
    }
  }
}

.camera_modal {
  background: #111;
  padding-right: 0 !important;

  .modal-body {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .close {
    display: block;
    z-index: 100;
    color: rgba(#fff, .6);

    @include rem(width, 40px);
    @include rem(height, 40px);
    @include rem(right, 10px);

    &:hover {
      opacity: 1;
    }

    .icon {
      @include rem(font-size, 40px);
    }
  }
}

.camera_item {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px 0 rgba(101, 113, 128, 0.2);
  position: relative;

  @include rem(padding, 5px);
  @include rem(height, 535px);
  @include rem(margin-bottom, 40px);
  @include rem(margin-top, 40px);
}