@import "../../node_modules/LykkeFramework/assets/scss/style-minimal.scss";
@import "../../node_modules/LykkeFramework/assets/scss/style-necessaries.scss";

// elements
@import '../../node_modules/LykkeFramework/assets/scss/partials/blocks/subscribe';
@import '../../node_modules/LykkeFramework/assets/scss/partials/blocks/footer';
@import '../../node_modules/LykkeFramework/assets/scss/partials/blocks/nav';
@import '../../node_modules/LykkeFramework/assets/scss/partials/blocks/lists';
@import '../../node_modules/LykkeFramework/assets/scss/partials/blocks/apps';
@import '../../node_modules/LykkeFramework/assets/scss/partials/modal';
@import '../../node_modules/LykkeFramework/assets/scss/partials/labels';
@import '../../node_modules/LykkeFramework/assets/scss/partials/status_icon';

@import 'modal';
@import 'kyc';
@import 'camera';
@import 'pie_loader';
@import 'blocks/status';
@import 'blocks/steps';

.header {
  border-bottom: 1px solid $border-alt;
}

.header_user__img {
  @include rem(margin-right, 10px);
}

@media (max-width: 543px) {
  .header__logo {
    width: 32px;
  }
}


body {
  padding-bottom: 20px;
}

.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: $gray-25;

  &:focus {
    border-color: $gray-light;
  }
}

.page .container {
  width: 1250px;
  max-width: 100%;
}

.page__subtitle {
  font-weight: normal;

  @include rem(font-size, 30px);
}

.page__header {
  @include rem(margin-bottom, 60px);
}

.page__title {
  + .page__subtitle {
    color: #657180 !important;

    @include rem(margin-top, 20px);
  }
}


.loader_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba($secondary, .6);
  display: none;

  .body--loading & {
    display: block;
  }
}


$offset: 187;
$duration: 1.4s;

.l_spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;

  @include transform(translate(-50%, -50%))
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}


.l_path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite,
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #ff9100; }
  50% { stroke: #ff0029; }
  100% { stroke: #ab00ff; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}